
.container{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  background-color: #ded9de;
  border-width: 1px;
  border-radius: 7px;
  margin: 9px;
  padding: 15px;
}

.titulo{
  font-size: 25px;
  margin-bottom: 25px;
  margin-top: 10px;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
}

.capa{
  width: 700px;
  /* height: 700px; */
}

.subtitulo{
  margin: 15px;
}

.botao{
  height: 40px;
  background: none;
  border-radius: 5px;
  border: 2px solid #4C89E3;
  color: #1a3864;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  transition: all 0.8s;
  margin: 9px;
}

@media (max-width: 760px){
  .post {
    transition: all 0.6s;
    width: 400px;
  }
  .capa{
    transition: all 0.4s;
    margin: auto;
    width: 380px;
  }
}

@media (max-width: 465px){
  .post {
    transition: all 0.6s;
    width: 310px;
  }
  .capa{
    transition: all 0.4s;
    margin: auto;
    width: 300px;
  }
}

.botao:hover {
  background-color: #325c9c;
  color: #FFF
}


